.container-singin {
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.container-singin form {
    padding: 5vh 0;
    width: 25vw;
    display: flex;
    flex-direction: column;
}

.container-singin form input {
    padding: 0.6vh 0;

}