footer {
    color: white;
    height: 60vh;
    background-color: #008ECC;
}
.container-footer{
max-width: 1200px;
margin: 0 auto;
height: 100%;

}


.mask {
    height: 75%;
    width: 20%;
    float: right;
}

.lista-1 img {
    width: 8vw;
    height: 6vh;
    padding-right: 1vw;
}


.container-lists {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;


}

.lista-1 p:nth-child(2),
.lista-1 p:nth-child(3),
.lista-1 p:nth-child(4) {
    font-size: 0.8rem;

}



.lista-2 p:first-child,
.lista-3 p:first-child {
    margin: 0;
    padding-bottom: 0.9vh;
    border-bottom: 2px solid white;
    display: inline-block;
}

.lista-1 p:first-child,
.lista-2 p:first-child,
.lista-3 p:first-child {
    font-weight: bold;

}


.container-lists ul {
    margin: 0;
    padding-left: 2vw;
}

.container-lists li {
    padding-top: 2vh;
    font-size: 0.8rem;
}


.reserved {
    width: 100%;
    text-align: center;
    height: 10%;
}

.reserved p {
    font-size: 0.8rem;
    display: inline-block;
    border-top: 2px solid #05ABF3;
    margin: 0;
    padding: 1vh 30% 0 30%;
}

.logo-footer {
    margin: 0;
    color: white;
    display: inline-block;
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;

}