.section-2 h3 {
    display: inline-block;
    border-bottom: solid 2px #008ECC;
    font-family: "Hanken Grotesk", sans-serif;
    color: #666666;
}

.section-2 h3 span {
    color: #008ECC;
}

.section-2 {
    max-width: 1200px;
    margin: 0 auto;
}


.carousel-categories {
    display: flex;
    justify-content: space-around;

}